@charset "UTF-8";
/* @import url(./nullstyle.css); */
/* font-family: 'Raleway', sans-serif; */

:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--tertiary-text-color: #ffffff;
	--quaternary-text-color: #000000;
	--accent-color: #2196f3;
	--footer-address-color: rgba(255, 255, 255, 0.6);

	--primary-bg-color: #ffffff;
	--secondary-bg-color: #2f303a;
	--tertiary-bg-color: #f5f4fa;
	
	--hero-btn-accent-color: #188ce8;

	--border-color: #EEEEEE;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--primary-text-color);
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.link:hover,
.link:focus {
	color: var(--accent-color);
}

.link.current {
	color: var(--accent-color);
}

.logo-link {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}

/* .................................HEADER................................ */
.header {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	background-color: var(--primary-bg-color);
	border-bottom: 1px solid #ECECEC;
}

.header-flex {
	display: flex;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	align-items: center;
}

.header .logo-link span{
	color: var(--quaternary-text-color);
}
.header .logo-link {
	margin-right: 93px;
	padding-top: 24px;
	padding-bottom: 25px;
}

.nav-list {
	display: flex;
	gap: 50px;
}

.nav-item {
}

.nav-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	
	color: var(--primary-text-color);
}

.header-list {
	display: flex;
	gap: 50px;
}

.header-item {
}

.header-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--secondary-text-color);
}

/* .................................END HEADER................................ */

/* ...................................FOOTER.................................. */
.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--secondary-bg-color);
}

.footer .logo-link {
	display: inline-block;
	margin-bottom: 20px;
}
.footer .logo-link span {
	color: var(--tertiary-text-color);
}

.footer-address {
	font-style: normal;
}

.footer-list {
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.footer-item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-map-address {
	color: var(--tertiary-text-color);
}

.footer-link {
	color: var(--footer-address-color);
}
/* .................................END FOOTER................................ */

/* ...............................INDEX.HTML............................... */
.main-content {
}

/* Hero */
.overlay-hero {
	height: 600px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;

	background: rgba(47, 48, 58, 0.4);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/overlay.jpg);
	background-color: var(--secondary-bg-color);
}

.main-hero {
	/*	*/
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	/*	*/
}

.hero-title {
	/*  */
	max-width: 696px;
	margin-left: auto;
	margin-right: auto;
	/*  */
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--tertiary-text-color);

}

.hero-btn {
	padding: 10px 32px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;
	color: var(--tertiary-text-color);
	background-color: var(--accent-color);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--hero-btn-accent-color);
}

/* Benefits */
.main-benefits {
	padding-top: 94px;
	padding-bottom: 94px;

	background-color: var(--primary-bg-color);
}

.benefits-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	letter-spacing: 0.03em;
}

.benefits-item {
	flex-basis: calc((100% - 90px) / 4);
}
.benefits-item::before {
	content: "";
	display: inline-block;
	height: 120px;
	width: 270px;
	margin-bottom: 30px;

	background-color: #F5F4FA;;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center;
}
.antenna::before {
	background-image: url(../images/benefits/icon/antenna.svg);
}
.clock::before {
	background-image: url(../images/benefits/icon/clock.svg);
}
.diagram::before {
	background-image: url(../images/benefits/icon/diagram.svg);
}
.astronaut::before {
	background-image: url(../images/benefits/icon/astronaut.svg);
}

.benefits-name {
	margin-bottom: 10px;

	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--primary-text-color);
}

.benefits-descrpt {
	line-height: 1.71;
	color: var(--secondary-text-color);
}

/* Example */
.main-example {
	padding-bottom: 94px;

	background-color: var(--primary-bg-color);
}

.example-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.example-list {
	display: flex;
	gap: 30px;
}

.example-item {
}

.example-img {
}

/* Team */
.main-team {
	padding-top: 94px;
	padding-bottom: 94px;

	background-color: var(--tertiary-bg-color);
	letter-spacing: 0.03em;
}

.team-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--primary-text-color);
}

.team-list {
	display: flex;
	gap: 30px;
}

.team-item {
	font-size: 16px;
	line-height: 1.1875;
	background-color: var(--primary-bg-color);
	text-align: center;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	/* border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px; */
	border-radius: 0px 0px 4px 4px;
}

.team-img {
}

.team-padding{
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-name {
	margin-bottom: 10px;

	font-weight: 500;
	color: var(--primary-text-color);
}

.team-position {
	color: var(--secondary-text-color);
}

/* Clients */
.main-clients {
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients-title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.clients-list {
	display: flex;
	gap: 30px;
	/* flex-wrap: wrap; */
}

.clients-item {
	/* flex-basis: calc((100% - 150px) / 6); */
	padding: 15px 31px;

	border: 1px solid #AFB1B8;
	border-radius: 4px;
}

.clients-logo {}
/* ...............................END INDEX.HTML.............................. */

/* ...............................PORTFOLIO.HTML.............................. */
.portfolio-content {
}

.portfolio-section {
	padding-top: 94px;
	padding-bottom: 94px;

	background-color: var(--primary-bg-color);
}

.portfolio-title {
}

.portfolio-filter {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}

.filter-item {
}

.filter-button {
	padding: 6px 22px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	background-color: var(--tertiary-bg-color);
	border-radius: 4px;
}
.filter-button:hover,
.filter-button:focus {
	color: var(--tertiary-text-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	/* margin: -15px; */
}

.portfolio-item {
	/* flex-basis: calc(100% / 3 - 30px); */
	/* margin: 15px; */
}
/* .portfolio-item:not(:nth-child(3n)) {
	margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
} */

.portfolio-link {
}

.portfolio-img {

}

.border-basket{
	padding: 20px 24px;

	border-bottom: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
}

.portfolio-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-text-color);
}

.portfolio-descrpt {
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}
/* ...............................END PORTFOLIO.HTML.......................... */
